<header>
	<h1>{{pageTitle}}</h1>
	<ul>
		<li><a href="/">{{toUpCase 'home'}}</a></li>
		<li><a href="/about">{{toUpCase 'about'}}</a></li>
		<li><a href="/projects">{{toUpCase 'projects'}}</a></li>
	</ul>
</header>