<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{pageTitle}}</title>
</head>
<body>
	{{> header}}
	{{toUpCase welcome}}
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum deleniti dignissimos alias ab assumenda explicabo repellendus vero corporis ipsam voluptas! Vel maiores accusamus dolor est alias. Cum maxime consequuntur dicta!</p>

	{{> footer}}
</body>
</html>