<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{pageTitle}}</title>
</head>
<body>
	{{> header}}

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo magni eveniet quas voluptatem, beatae, saepe nemo omnis quae. Minima ipsa repellendus deleniti placeat incidunt ad rerum tenetur in tempora, dicta.</p>
	{{> footer}}
</body>
</html>