<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{pageTitle}}</title>
</head>
<body>
	{{> header}}

	<ul>
		<li>node</li>
		<li>express</li>
		<li>git ssh</li>
		<li>heroku</li>
		<li>vue</li>
	</ul>

	{{> footer}}
</body>
</html>